.nav-link{
    font-size: 18px;

}

.menu_area .navbar-nav .nav-link{
    text-transform: uppercase;
    white-space: nowrap;
}

#navbarSupportedContent2{
    margin-top: 55px;
}

.bg-primary{
    background: #002e54!important;
}
.card--eleven .card-body{
    background: rgba(70, 117, 184, .7)!important;
}
.blue-bg{
    background: #002e54!important;
    border: white;
}
.blue-bg:hover{
    border: white!important;
}
.icon-box-eight .icon-square-sm{
    border: 1px solid #71c2f2;
    color: #71c2f2;
}
.icon-box-eight .icon-square-sm:hover{
    border: 1px solid #71c2f2;
    color: #fff;
}
.icon-box-eight:hover .icon-square-sm{
    background: #71c2f2;
    border: none;
}
.owl-dots .owl-dot.active span{
    background: rgba(70, 117, 184, 1)!important;
}
.go_top{
    background: rgba(70, 117, 184, 1)!important;
}

.blockquote.blockquote3, .blockquote.blockquote4 {
    border: 0 none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: -webkit-gradient(linear, left top, right top, from(#4675B8), to(#71c2f2));
    background: -webkit-linear-gradient(left, #4675B8, #71c2f2);
    background: -o-linear-gradient(left, #4675B8, #71c2f2);
    background: linear-gradient(to right, #4675B8, #71c2f2)
}

a {
    color: #4675B8;
}
a:hover{
    color: #71c2f2;
    text-decoration: underline;
}
.number-list li:before{
    color: #4675B8;
}
.post-body{
        line-height: 2em;
        font-family: 'Didact Gothic', sans-serif !important;
}
